@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body{
 
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  
  background-color: rgb(231, 212, 193);
  height: 100%;

}

:root{
  --color: #6f373c;
}

